<p>Productos</p>

@if (areActionsAvailable) {
  <app-producto-form
    [form]="productoForm"
    (callSaveMethod)="saveProducto($event)"
    [categorias]="categorias"
    (callUpdateMethod)="updateProducto($event)"
   
  />

}

<app-producto-list
  [pProductoList]="productoService.producto$()"
  (callUpdateModalMethod)="openEditProductoModal($event)"
  (callDeleteMethod)="deleteProducto($event)"
  [categorias]="categorias"
 
/>


<ng-template #editProductoModal>
  <app-modal
    [hideFooter]="true"
  >
    <div>
      <app-producto-form
        [form]="productoForm"
        (callUpdateMethod)="updateProducto($event)"
        [categorias]="categorias"
        (callUpdateMethod)="updateProducto($event)"
      />
    </div>
  </app-modal>
</ng-template>